:root {
    --input-gray: #999;
}

.form {
    min-height: inherit;
    color: white;
    padding-top: 20px;
}

.form-container.auth {
    background-color: #0000008a;
    margin: auto;
    padding: 15px 20px;
    width: 400px;
    border-radius: 14px;
}

.auth > .logo-container {
    width: max-content;
    margin: auto;
}

.form.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
}

.form-title.auth {
    font-size: 45px;
    text-align: center;
    margin: 4px;
}

.field {
    display: block;
    width: 250px;
    height: 36px;
    border-radius: 8px;
    padding: 12px 10px;
    background-color: #222;
    color: white;
    border: 1px solid #333;
}

.field::placeholder {
    color: var(--input-gray);
}

.field:hover {
    outline: 2px solid var(--light-green);
}

.field:focus {
    outline: 2px solid var(--green);
}

.form-input {
    margin-bottom: 10px;
    position: relative;
}

.field-error {
    color: red;
}

.password-icon-btn {
    position: absolute;
    right: 5px;
    bottom: 7px;
    height: 18px;
    width: 28px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.password-icon {
    cursor: pointer;
    aspect-ratio: 1/1;
    height: 30px;
}

.line::after {
    position: absolute;
    content: "";
    bottom: -4px;
    right: 14px;
    width: 2px;
    height: 27px;
    border-radius: 1px;
    background-color: var(--input-gray);
    z-index: 4;
    rotate: -60deg;
}

.btn-container {
    width: 100%;
}

.form-submit {
    display: block;
    margin: auto;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.form-navigate {
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 10px;
}