.game-container {
    margin: 0 8%;
    height: max-content;
    margin-bottom: 20px;
}

.game-container > h1 {
    text-align: center;
}

.field.game-input {
    border-radius: 8px 0 0 8px;
    width: 300px;
    display: inline;
    outline: none;
}

.form-container.game {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}

.form-game {
    display: flex;
    align-items: center;
    gap: 0;
}

.form-container.game:focus-within {
    outline: 2px solid var(--light-green);
    border-radius: 8px;
}

.submit-guess {
    color: #999;
    background-color: #101010;
    height: 36px;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.submit-guess:not(:disabled):hover {
    color: white;
}

.table-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.game-table {
    width: fit-content;
    margin: auto;
}

.pokemon-img {
    width: 102px;
}

.pokemon-name {
    width: 114px;
}

.pokemon-generation {
    width: 108px;
}

.pokemon-types {
    width: 110px;
}

.pokemon-color {
    width: 100px;
}

.pokemon-stage {
    width: 80px;
}

.pokemon-height, .pokemon-weight {
    width: 90px;
}

.info-th {
    background-color: #444;
    padding: 4px 6px;
}

.info-th:first-child {
    border-radius: 7px 0 0 0;
}

.info-th:last-child {
    border-radius: 0 7px 0 0;
}

.guess:last-child > .info-td:first-child {
    border-radius: 0 0 0 7px;
}

.guess:last-child > .info-td:last-child {
    border-radius: 0 0 7px 0;
}

:is(.info-td, span).correct {
    background-color: green;
}

:is(.info-td, span).wrong {
    background-color: red;
}

:is(.info-td, span).partial {
    background-color: goldenrod;
}

.info-td {
    background-color: #777;
    text-align: center;
    padding: 0 6px;
}

.info-multi {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info-item {
    padding: 5px 7px;
    border-radius: 6px;
}

.info-item.type {
    width: 94px;
}

.info-item.color {
    width: 84px;
}

.lower, .higher {
    position: relative;
    isolation: isolate;
}

:is(.lower, .higher)::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 30px 40px;
    border-style: solid;
    z-index: -1;
}

.pokemon-generation:is(.lower, .higher)::before {
    border-width: 30px 52px;
}

.lower::before {
    top: -25px;
    border-color: transparent transparent #772626 transparent;
}

.higher::before {
    bottom: -25px;
    border-color: #772626 transparent transparent transparent;
}

:is(.lower, .higher)::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 55px;
    width: 50px;
    background-color: #772626 ;
    z-index: -1;
}

.pokemon-generation:is(.lower, .higher)::after {
    width: 64px;
}

.lower::after {
    bottom: 8px;
}

.higher::after {
    top: 8px;
}

/* Game error styling */

.game-error {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: #000000CC;
}

.game-error > * {
    margin: 5px 0;
}