.generations {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.game-settings {
    width: fit-content;
    margin: auto;
    transition: opacity 0.3s ease-in;
    /* transition: position 0.3s ease; */
}

.game-setting:last-child {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#game-mode {
    height: 30px;
    width: 100px;
}

.generation {
    display: flex;
    width: fit-content;
}

.setting-title.dropdown {
    width: fit-content;
}