.game-container {
    margin: 0 8%;
    height: max-content;
    margin-bottom: 20px;
}

.game-container > h1 {
    text-align: center;
}

.field.game-input {
    border: 2px solid #444;
    border-radius: 8px 0 0 8px;
    width: 300px;
    display: inline;
    outline: none;
}

.form-container.game {
    margin: auto;
    max-width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.form-game {
    display: flex;
    align-items: center;
    gap: 0;
    position: relative;
}

.poke-results {
    position: absolute;
    top: 38px;
    left: 0;
    overflow-x: none;
    overflow-y: auto;
    width: calc(100% - 69px);
    height: 300px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 10px;
    z-index: 20;
}

.poke-results::-webkit-scrollbar {
    display: none;
}

.poke-result {
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
    column-gap: 10px;
    overflow-x: none;
    width: 100%;
    border-top: 2px solid #444;
}

.poke-result:first-child {
    border-top: none;
}

.form-container.game:focus-within {
    outline: 2px solid var(--green);
    border-radius: 8px;
}

.submit-guess {
    color: #999;
    background-color: #101010;
    width: 69px;
    height: 36px;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    border: 2px solid #444;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.submit-guess:not(:disabled):hover {
    color: white;
}

.table-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.game-table {
    width: fit-content;
    margin: auto;
    border-collapse: collapse;
}

.pokemon-img {
    min-width: 102px;
}

.info-td.pokemon-img {
    padding: 3px;
}

.pokemon-name {
    min-width: 128px;
}

.pokemon-generation {
    min-width: 108px;
}

.pokemon-types {
    min-width: 110px;
}

.pokemon-color {
    min-width: 100px;
}

.pokemon-stage {
    min-width: 86px;
}

.pokemon-height {
    min-width: 90px;
}

.pokemon-weight {
    min-width: 100px;
}

.info-th {
    height: 42px;
    background-color: #444;
    padding: 4px 6px;
}

.info-th:first-child {
    border-radius: 7px 0 0 0;
}

.info-th:last-child {
    border-radius: 0 7px 0 0;
}

.guess {
    border-top: 2px solid #555;
}

.guess:first-child {
    border-top: none;
}

.info-td {
    border-right: 2px solid #555;
}

.info-td:last-child {
    border-right: none;
}

.guess:last-child > .info-td:first-child {
    border-radius: 0 0 0 7px;
}

.guess:last-child > .info-td:last-child {
    border-radius: 0 0 7px 0;
}

:is(.info-td, span).correct {
    background-color: green;
}

:is(.info-td, span).wrong {
    background-color: red;
}

:is(.info-td, span).partial {
    background-color: goldenrod;
}

.info-td {
    background-color: #777;
    text-align: center;
    padding: 0 6px;
    height: 90px;
}

.info-multi {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info-item {
    padding: 5px 7px;
    border-radius: 6px;
}

.info-item.type {
    width: 94px;
}

.info-item.color {
    width: 84px;
}

.lower, .higher {
    position: relative;
    isolation: isolate;
}

:is(.lower, .higher)::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 30px 40px;
    border-style: solid;
    z-index: -1;
}

.pokemon-generation:is(.lower, .higher)::before {
    border-width: 30px 52px;
}

.lower::before {
    top: -25px;
    border-color: transparent transparent #772626 transparent;
}

.higher::before {
    bottom: -25px;
    border-color: #772626 transparent transparent transparent;
}

:is(.lower, .higher)::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 50px;
    background-color: #772626 ;
    z-index: -1;
}

.pokemon-generation:is(.lower, .higher)::after {
    width: 64px;
}

.lower::after {
    bottom: 8px;
}

.higher::after {
    top: 8px;
}

/* Game error styling */

.game-error {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: #000000CC;
}

.game-error > * {
    margin: 5px 0;
}

.game-controls {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.game-btn {
    padding: 7px 9px;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #000000AA;
    color: var(--green);
    border: 2px solid var(--green);
    transition: border-color 0.3s ease;
}

.game-btn:not(:disabled):hover {
    color: var(--light-green);
    border-color: var(--light-green);
}

.game-btn:disabled {
    cursor: not-allowed;
}