.generations {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.game-settings {
    width: fit-content;
    margin: auto;
}

.game-settings.hidden {
    position: absolute;
}

.game-setting:last-child {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#game-mode {
    height: 30px;
    width: 100px;
}

.generation {
    display: flex;
    width: fit-content;
}

.setting-title.dropdown {
    width: fit-content;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000AA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}