.home {
    flex-wrap: wrap;
    padding: 0 min(32px, 4%);
    margin: auto;
}

.section-info {
    width: min(800px, 100%);
    margin: auto;
}

.game-btn.home-btn {
    display: block;
    margin: auto;
}