:root {
    --green: #2ab68c;
    --dark-green: #094735;
    --light-green: #97e2cc;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #00000000;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--dark-green);
    opacity: 0.9;
    filter: blur(2px);
    transform: scale(1.1);
    width: 100%;
    z-index: -1;
}

main {
    margin-top: 60px;
    min-height: calc(100vh - 180px);
    position: relative;
    overflow: hidden;
    background-color: #000000BB;
}

main::after {
    content: "";
    width: 100%;
    min-height: inherit;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/rayquaza.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(9px);
    z-index: -2;
    transform: scale(1.1);
}

footer {
    height: 120px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: inherit;
    text-decoration: none;
}

.button.disabled {
    cursor: default;
}

.logo-container {
    display: flex;
    align-items: center;
    user-select: none;
}

h1.logo {
    font-weight: 400;
}

img.logo {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: auto;
}

img.logo.small {
    height: 40px;
}

.content {
    color: white;
}

.hidden {
    opacity: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}