:root {
    --green: #2ab68c;
    --dark-green: #094735;
    --light-green: #97e2cc;
    color: white;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    position: sticky;
    background-color: #222;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 10;
}

main {
    min-height: calc(100vh - 140px);
    position: relative;
    overflow: hidden;
    background-color: #000000BB;
}

main::after {
    content: "";
    width: 100%;
    min-height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/rayquaza.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(9px);
    z-index: -2;
    transform: scale(1.1);
}

footer {
    height: 80px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: inherit;
    text-decoration: none;
    transition: color 0.3s ease; 
    font-size: 15px;
}

.button:not(:disabled) {
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    user-select: none;
}

h1.logo {
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
}

img.pic {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: auto;
}

img.pic.smaller {
    height: 30px;
}

img.pic.small {
    height: 40px;
}

img.pic.medium {
    height: 90px;
}

img.pic.large {
    display: block;
    height: 200px;
    margin: 10px auto;
    border: 2px solid yellow;
    border-radius: 4%;
}

img.pic.silhouette {
    background-color: #444;
}

.content {
    padding: 0 8%;
    position: relative;
}

.hidden {
    opacity: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}