nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    color: var(--green);
    margin-left: 10px;
    margin-right: 20px;
    column-gap: 24px;
}

.hamburger-btn {
    border-radius: 4px;
    margin-left: 4px;
    display: none;
    height: 40px;
    width: 40px;
}

.mobile-menu {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    row-gap: 20px;
    left: 0;
    top: 60px;
    justify-content: center;
    align-content: center;
    z-index: 40;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #000;
}

.button.top.nav.mobile-links {
    width: 100%;
    font-size: 40px;
    height: 100px;
}

.button.top.nav {
    font-size: 24px;
}

.button.nav:hover {
    color: var(--light-green);
}

.menu-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    border-radius: 50%;
}

.button.nav.login {
    background-color: #333;
    padding: 7px 9px;
    border-radius: 7px;
    margin-left: auto;
}

.show-menu-btn {
    background-color: #444;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    border-radius: 50%;
}

.menu {
    right: -9px;
    bottom: -118px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.menu-item:first-child {
    position: relative;
}

.menu-item:first-child:hover::before {
    border-color: transparent transparent #444 transparent;
}

.menu-item:first-child::before {
    position: absolute;
    right: 20px;
    top: -20px;
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #3d3d3d transparent;
    z-index: 4;
}

.menu-item {
    color: #6b866f;
    width: 130px;
    background-color: #3d3d3d;
    text-align: left;
    height: 36px;
    border-bottom: 1px solid #222;
    z-index: 4;
    padding-left: 8px;
    transition: color background-color 0.3 ease-in;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    color: var(--light-green);
    background-color: #444;
}

@media (max-width: 768px) {
    .logo-container {
        display: none;
    }

    .top.desktop-links {
        display: none;
    }

    .hamburger-btn {
        position: relative;
        display: flex;
    }

    .hamburger-btn::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        width: 28px;
        height: 5px;
        border-radius: 3px;
        background-color: var(--green);
        box-shadow: 0 -10px 0 var(--green), 0 10px 0 var(--green);
    }

    .hamburger-btn.open::after, .hamburger-btn.open::before {
        content: "";
        position: absolute;
        box-shadow: none;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: var(--green);
        rotate: 45deg;
    }

    .hamburger-btn.open::after {
        left: 15px;
        top: 8px;
        rotate: -45deg;
    }

    .hamburger-btn.open::before {
        left: 5px;
        bottom: 17px;
    }

    .mobile-menu.open {
        display: flex;
    }
}
